.joke-form {
	display: block;
	margin-left: 25px;
}

.joke-row {
	padding: 10px;
}

.joke-area {
	padding: 10px;
}

.joke-area textarea {
	width: 500px;
	height: 75px;
}

.generate-joke {
	font-weight: bold;
}
